<head>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<body>
     <p> Bienvenue sur le graphique de {{nomEntreprise|safe}} </p>
<div id='container'>
    <script>
      Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Facture par Types'
            },
             
            xAxis: {
                categories: {{categories|safe}},
                crosshair: true
            },

             series: [
            {% for donnee_name, donnee_data in donnee %}{
                name: '{{donnee_name}}',
                data: {{donnee_data|safe}}
 
            }
            {% if not forloop.last %},{% endif %}
            {% endfor %}]
            
        });

        
    </script>
</div>

<div id='etat'>
    <script>
      Highcharts.chart('etat', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Facture par Etat'
            },
             
            xAxis: {
                categories: {{etat|safe}},
                crosshair: true
            },

             series: [
            {% for resEtat_name, resEtat_data in resEtat %}{
                name: '{{resEtat_name}}',
                data: {{resEtat_data|safe}}
 
            }
            {% if not forloop.last %},{% endif %}
            {% endfor %}]
            
        });

        
    </script>
</div>

</body>
