<head>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<body>
     
<div id='container'>
    <script>
      Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Monthly Average Rainfall'
            },
             
            xAxis: {
                categories: {{categories|safe}},
                crosshair: true
            },
             
 
            series: [
            {% for city_name, city_data in cities %}{
                name: '{{city_name}}',
                data: {{city_data|safe}}
 
            }
            {% if not forloop.last %},{% endif %}
            {% endfor %}]
        });
    </script>
</div></body>